<!-- Base Jinja template for Flaskr blog app -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <!-- added href to navigate back to home/index page from anywhere in app -->
        <h1><a href="{{ url_for('index') }}" title="Home">Flaskr</a></h1>
        <ul> <!-- if g.user is set (from load_logged_in_user),
                either the username and a log out link are displayed,
                or links to register and log in are displayed -->
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}" title="Log Out">Log Out</a>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}" title="Register">Register</a>
                <li><a href="{{ url_for('auth.login') }}" title="Log In">Log In</a>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            <!--title displayed on the page -->
            {% block header %}{% endblock %}  <!--title displayed on the page -->
        </header>
        <!-- loops over each message returned by get_flashed_messages() -->
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <!-- content of each page goes here -->
        {% block content %}{% endblock %}
    </section>
</body>
</html>